<!--[nocache]--><!--[php]-->header("Content-type: text/xml");<!--[/php]--><!--[/nocache]-->
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <!--[pnmodavailable modname=Wikula assign=Wikula]-->
    <!--[if $Wikula]-->
        <!--[pnmodapifunc modname=Wikula type=user func=LoadAllPages assign=pwpages]-->
        <!--[if $pwpages]-->
            <!--[foreach from=$pwpages item=pwpage]-->
                <url>
                    <loc><!--[pnmodurl fqurl=true modname=Wikula tag=$pwpage.tag]--></loc>
                    <changefreq>weekly</changefreq>
                </url>
            <!--[/foreach]-->
        <!--[/if]-->
    <!--[/if]-->
</urlset>