<!--[nocache]--><!--[php]-->header("Content-type: text/xml");<!--[/php]--><!--[/nocache]-->
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <!--[pnmodavailable modname=content assign=content]-->
	<!--[if $content]-->
	    <!--[pnmodapifunc modname=content type=page func=getPages assign=contentPages]-->
	    <!--[foreach from=$contentPages item=page]-->
	    <url>
		<loc><!--[pngetbaseurl]--><!--[pnmodurl modname=content type=user func=view pid=$page.id]--></loc>
		<lastmod><!--[$page.lu_date|date_format:"%Y-%m-%d"]--></lastmod>
		<changefreq>daily</changefreq>
	    </url>
	    <!--[/foreach]-->
	<!--[/if]-->
</urlset>