<!--[nocache]--><!--[php]-->header("Content-type: text/xml");<!--[/php]--><!--[/nocache]-->
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <!--[pnmodavailable modname=Reviews assign=reviews]-->
    <!--[if $reviews]-->
        <!--[pnmodapifunc modname=Reviews func=getall assign=reviews]-->
        <!--[if $reviews]-->
            <!--[foreach from=$reviews item=review]-->
                <url>
                    <loc><!--[pnmodurl fqurl=true modname=Reviews func=display id=$review.id]--></loc>
                    <changefreq>weekly</changefreq>
                </url>
            <!--[/foreach]-->
        <!--[/if]-->
    <!--[/if]-->
</urlset>