<div class="newswrapper">
	<div class="newssummary1" style="background-color:#dfdbc3">
		<div><strong><!--[$preformat.catandtitle]--></strong></div>
		<div><!--[pnml name=_POSTEDBY]--> : <!--[$info.informant]--> <!--[pnml name=_ON]--> <!--[$info.longdatetime]--></div>
	</div>
	<div class="newssummary2" style="background-color:#f7f5ea">
		<div><!--[$preformat.searchtopic]--> <!--[$info.hometext]--></div><br />
		<!--[if $preformat.notes neq '']-->
		<div><!--[$preformat.notes]--></div>
		<!--[/if]-->
		<div class="pn-sub" style="text-align=right"><!--[if $preformat.readmore != ""]--><!--[$preformat.readmore]--><!--[/if]--></div>		
	</div>
</div>