<div class="newswrapper">
	<div class="newssummary" style="background-color:#dfdbc3">
		<div><strong><!--[$preformat.catandtitle]--></strong></div>
		<span class="pn-sub"><!--[pnml name=_POSTEDBY]--> : <!--[$info.informant]--> <!--[pnml name=_ON]--> <!--[$info.briefdatetime]--></span>
		<!--[articleadminlinks sid=$info.sid]-->
		<a href="<!--[$links.searchtopic]-->"><!--[$info.topicname]--></a>
	</div>
	<div class="newssummary2" style="background-color:#f7f5ea">
		<!--[$preformat.searchtopic]-->		
		<!--[$preformat.fulltext]-->
	</div>
</div>