
<ul class="list_lined">
  <!--[foreach from=$comments item='comment']-->
  <li>
    <span class="text_light">
<!--[if $smarty.now|pndate_format:"%m.%d.%Y" == $comment.date|pndate_format:"%m.%d.%Y"]-->
  <!--[$comment.date|pndate_format:"%H:%M"|pnvarprephtmldisplay]--> Uhr
<!--[else]-->
  <!--[$comment.date|pndate_format:'%d. %b'|pnvarprephtmldisplay]-->
<!--[/if]--> | </span>
    <a href="<!--[$comment.url|pnvarprepfordisplay]-->#comment<!--[$comment.id|pnvarprepfordisplay]-->">
      <!--[if $comment.subject neq '']--><!--[$comment.subject|pnvarprepfordisplay|truncate:27:"&hellip;":true]--><!--[else]--><!--[$comment.comment|pnvarprepfordisplay|strip_tags:false|truncate:27:"&hellip;"]--><!--[/if]-->
    </a>
  </li>
  <!--[/foreach]-->
</ul>
